@font-face {
    font-family: "Nohemi";
    src: url("../asset/font/Nohemi-Regular.ttf");
}
@font-face {
    font-family: "Neue";
    src: url("../asset/font/NeueHaasDisplay-Roman.ttf");
}

.noemi {
  font-family: "Nohemi"; 
}

:root {
    --orange: #ff784f;
    --yellow: #ffe19b;
    --lime: #edffd9;
    --black: #000;
    --white: #fff;
}

body {
    font-family: "Neue";
    letter-spacing: -.5px;
    background-color: var(--orange);
    color: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
}

span {
    color: var(--lime);
}

.effect-three > a {
    display: inline-block;
    position: relative;
  }
  .effect-three > a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    height: 2px;
    margin: 3px 0;
    left: 0;
    background-color: var(--lime);
    transition: all 0.4s ease-in 0s;
  }
  .effect-three > a:hover:after {
    width: 100%;
  }

.fa{
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

  .fa:hover {
    color: var(--lime);
}

@media screen and (max-width: 767px) {
    
}