@font-face {
    font-family: "Sorts";
    src: url("../asset/font/SortsMillGoudy-Regular.ttf");
}
@font-face {
    font-family: "IBMPlex";
    src: url("../asset/font/IBMPlexMono-Regular.ttf");
}
@font-face {
    font-family: "IBMPlexItalic";
    src: url("../asset/font/IBMPlexMono-Italic.ttf");
}

.instrumental {
  font-family: "Instrumental"; 
}

:root {
    --orange: #ff784f;
    --yellow: #ffe19b;
    --lime: #edffd9;
    --black: #000;
    --white: #fff;
}

::selection{
  color: var(--orange);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Sorts";
  background-color: var(--white);
  color: var(--black);
}

.ibmItalic {
  font-family: "IBMPlexItalic";
}

.containerMain{
  padding: 1.8rem /*!main_margin*/
}

.stickySideBar {
  overflow: auto;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 1.8rem;
}

.orange{
  color: var(--orange);
}

.ibmMonoMain{
  font-family: "IBMPlex";
  display: inline-block;
  font-size: .8rem;
  line-height: 1.9;
  font-style: normal;
  font-weight: 400;
}

.ibmMonoSmall{
  font-family: "IBMPlexItalic";
  display: inline-block;
  font-size: .6rem;
  line-height: 1.9;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
  color: rgba(0, 0, 0, 0.85);
}

.titleWorkDetail {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.85);
}

.titleWork {
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: -0.05rem;
  color: rgba(0, 0, 0, 0.85);
}

.activeWork{
  color: var(--orange);
}

.divider{
  height: 20vh;
}

.mainImgCont{
  aspect-ratio: 9/12;
}

.imgFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workHeaderImgCont{
  aspect-ratio: 16/9;
}

.workGalleryCont{
  aspect-ratio: 1/1;
}

@media screen and (max-width: 767px) {
    
}